test-driver
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
missing
stamp-h1
.*.swp
core.*
core
*.core
*.service
*.policy
gtk-doc.make
*-marshal.[ch]
*_ui.h
*-ui.h
*-infos.h
*.desktop
*.desktop.in
libxfce4panel*.pc
*.o
*.lo
*.la
.libs
.deps
INSTALL
configure.ac
gtk-doc.m4
po/POTFILES
po/stamp-it
po/Makefile.in.in
po/.intltool-merge-cache
po/*.gmo
docs/references/version.xml
migrate/default.xml
libxfce4panel/libxfce4panel-alias.h
libxfce4panel/libxfce4panel-aliasdef.c
libxfce4panel/libxfce4panel-enum-types.c
libxfce4panel/libxfce4panel-enum-types.h
libxfce4panel/libxfce4panel-config.h
libxfce4panel/libxfce4panel-2.0.gir
libxfce4panel/libxfce4panel-2.0.typelib
m4/*
migrate/migrate
panel/xfce4-panel
panel/panel-gdbus-exported-service.c
panel/panel-gdbus-exported-service.h
panel/panel-plugin-external-wrapper-exported.c
panel/panel-plugin-external-wrapper-exported.h
plugins/applicationsmenu/xfce4-popup-applicationsmenu
plugins/directorymenu/xfce4-popup-directorymenu
plugins/windowmenu/xfce4-popup-windowmenu
wrapper/wrapper-1.0
wrapper/wrapper-2.0
