test-driver
Makefile
Makefile.in
aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
missing
stamp-h1
.*.swp
core.*
core
*.core
*.service
*.policy
gtk-doc.make
*-marshal.[ch]
*_ui.h
*-ui.h
*-infos.h
*.desktop
libxfce4panel*.pc
*.o
*.lo
*.la
.libs
.deps
INSTALL
configure.ac
gtk-doc.m4
po/POTFILES
po/stamp-it
po/Makefile.in.in
po/.intltool-merge-cache*
po/*.gmo
docs/reference/html
docs/reference/xml
docs/reference/*.stamp
docs/reference/libxfce4panel-decl*.txt
docs/reference/libxfce4panel-undeclared.txt
docs/reference/libxfce4panel-undocumented.txt
docs/reference/libxfce4panel-unused.txt
docs/reference/libxfce4panel.actions
docs/reference/libxfce4panel.args
docs/reference/libxfce4panel.hierarchy
docs/reference/libxfce4panel.interfaces
docs/reference/libxfce4panel.prerequisites
docs/reference/libxfce4panel.signals
docs/reference/version.xml
migrate/default.xml
libxfce4panel/libxfce4panel-alias.h
libxfce4panel/libxfce4panel-aliasdef.c
libxfce4panel/libxfce4panel-enum-types.c
libxfce4panel/libxfce4panel-enum-types.h
libxfce4panel/libxfce4panel-config.h
libxfce4panel/Libxfce4panel-2.0.gir
libxfce4panel/Libxfce4panel-2.0.typelib
libxfce4panel/libxfce4panel-2.0.vapi
m4/*
migrate/migrate
panel/xfce4-panel
panel/panel-gdbus-exported-service.c
panel/panel-gdbus-exported-service.h
panel/panel-plugin-external-wrapper-exported.c
panel/panel-plugin-external-wrapper-exported.h
plugins/*/*.desktop.in
plugins/applicationsmenu/xfce4-popup-applicationsmenu
plugins/directorymenu/xfce4-popup-directorymenu
plugins/windowmenu/xfce4-popup-windowmenu
plugins/systray/sn-watcher.c
plugins/systray/sn-watcher.h
wrapper/wrapper-1.0
wrapper/wrapper-2.0
*~
