[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Panel Settings
Name[fr]=Paramètres du panneau Xfce 4
Name[nl]=Instellingen Xfce 4 Panel
Name[zh_TW]=Xfce 4 面板設定
Comment=Panel Settings
Comment[fr]=Paramétrage du panneau
Comment[nl]=Instellingen voor het paneel
Comment[zh_TW]=設定面板
Exec=xfce-setting-show xfce
Icon=xfce4-panel
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Panel Settings
GenericName[nl]=Instellingen Panel
