Source: xfce4
Section: x11
Priority: optional
Maintainer: Martin Loschwitz <madkiss@madkiss.org>
Build-Depends: debhelper (>> 3.0.0), libatk1.0-dev, libglib2.0-dev, libgtk2.0-dev, libpango1.0-dev, libxfcegui-dev
Standards-Version: 3.5.7

Package: xfce4
Architecture: any
Depends: ${shlibs:Depends}, xfce4-themes (= ${Source-Version})
Description: The Cholesterol Free Desktop Environment (panel)
 Xfce, previously known as Xforms cool environment, is a desktop environment
 reminiscent of CDE that uses the GTK+ library, and isn't resource-hungry.
 .
 With xfce, this package contains a fully functional panel which was primary
 designed  to work together with xfwm. Nowadays, it it still the default
 panel from the Xfce4 desktop environment, but you can also use it with any 
 other window manager.

Package: xfce4-themes
Architecture: all
Recommends: xfce4 (= ${Source-Version})
Description: Theme files for xfce4
 This package contains various theme files for xfce4, the main panel of the 
 Xfce project, version 4. See the package description of xfce4 for further 
 informations.

Package: xfce4-dev
Architecture: any
Depends: libxfcegui-dev
Suggests: xfce4 (= ${Source-Version})
Description: xfce4 development files
 This package contains the Xfce4 development files, mainly includes.
 Installing this package makes mainly sense for you if you plan to
 develop applications using xfce4 widgets. If you don't do, installing
 this package is probably useless.
